@media (max-width:992px) {
    .navbar-collapse {
        background-color: #212325;
        padding: 0px 10px 10px 10px;
    }

    .banner-area {
        padding-top: 100px;
    }
}

@media (max-width:480px) {
    .my-slider .slider-arrow {
        display: block !important;
    }

    .paylists {
        display: flex;
        width: 100%;
      }

    .paylists li {
       margin: 0px 10px;
    }

    .flight-deptime {
        font-size: 20px;
      }
      
      .airport-name {
        font-size: 12px;
      }
      
      .city-name {
        font-size: 11px;
      }

      .img-arrow {
        width: 70px;
      }

      .f-time {
        font-size: 13px;
      }
}