@media (max-width:992px) {
    .navbar-collapse {
        background-color: #212325;
        padding: 0px 10px 10px 10px;
    }

    .banner-area {
        padding-top: 100px;
    }
}

@media (max-width:480px) {
    .my-slider .slider-arrow {
        display: block !important;
    }

    .paylists {
        display: flex;
        width: 100%;
      }

    .paylists li {
       margin: 0px 10px;
    }

    .flight-deptime {
        font-size: 20px;
      }
      
      .airport-name {
        font-size: 12px;
      }
      
      .city-name {
        font-size: 11px;
      }

      .img-arrow {
        width: 70px;
      }

      .f-time {
        font-size: 13px;
      }

      .dest-area {
        padding: 15px 0px;
      }

      .wizard > .steps a {
        font-size: 13px !important;
      }

      .baggage-item .baggage-included {
        font-size: 10px;
        padding: 5px 10px;
      }

      .baggage-item .baggage-info {
        font-size: 12px;
      }

      .config-text {
        font-size: 14px;
      }

      .billing-table .cust-fav {
        font-size: 11px;
      }

      .billing-table .plans th {
        font-size: 16px;
      }

      .plan-cell {
        font-size: 13px;
      }

      .billing-table .check-cover {
        margin-left: 30px;
      }
      
      .billing-table .check-coverbig {
        margin-left: 30px;
      }

      .img-extra {
        width: 150px;
      }

}